    .container-main {
        width: 1790px !important;
    }

    .custom-checkbox {
        appearance: none;
        -webkit-appearance: none;
        width: 44px;
        height: 44px;
        background-color: #131417;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    .custom-checkbox:focus {
        outline: none;
    }

    .custom-checkbox:checked {
        background-color: #16AF08;
    }

    .custom-checkbox:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-image: url('../assets/Icon (1).svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    nav a.active {
        color: #FF0000;
    }

    .mobile-nav a.active {
        color: #FF0000;
    }



    @media (max-width: 1790px) {
        .container-main {
            width: 345px !important;
            
        }

        .custom-checkbox {
            width: 22px;
            height: 22px;
        }

        .custom-checkbox:checked::after {
            width: 10px;
            height: 10px;
        }
    }








    #mobileMenu {
        display: none;
        position: fixed;
        z-index: 9999;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    #mobileMenu.active {
        display: block;
        transform: translateX(0);
    }

    #mobileMenu ul {
        list-style: none;
        padding: 0;
    }

    #mobileMenu li a {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
    }